layout {
  pane {
    split_direction "vertical"
    pane name="openapi-viewer" borderless=true {
      command "${DEV_SHELL}"
      args "-ic" "nvm use > /dev/null 2>&1 && bash"
    }
    pane name="deps" {
      command "${DEV_SHELL}"
      args "-ic" "nvm use > /dev/null 2>&1 && npm run dev-deps && watch -n 4 \"docker compose ps --all --format 'table {{.Name}}\t{{.Status}}'\""
    }
  }
  pane {
    split_direction "vertical"
    pane name="ui" {
      command "${DEV_SHELL}"
      args "-ic" "nvm use > /dev/null 2>&1 && npm -w ui run dev"
    }
    pane name="api" {
      command "${DEV_SHELL}"
      args "-ic" "nvm use > /dev/null 2>&1 && npm -w api run dev"
    }
  }
  pane size=1 borderless=true {
    command "bash"
    args "-ic" "echo -n -e \"Dev server available at \\e[1;96mhttp://localhost:5600\\033[0m\""
  }
}
